<!DOCTYPE html>
<html lang="es">
    <head>
    <meta content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <title>Resultado</title>
    </head>
    <body>
    <div id="resultado">
        <p><h1>El resultado es:  <tmpl_var name="resultado"></h1></p>
        
		<form>
			<input type="hidden" name="selector" value="menu"> 
    		</br><input type="submit" value="regresar"/>
		</form>
	</div>
    </body>
</html>



