<!DOCTYPE html>
<html lang="es">
    <head>
	    <meta content="text/html; charset=utf-8">
	    <link rel="stylesheet" type="text/css" href="style.css">
	    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	    <title>Calculadora Perl</title>
    </head>
    <body>
    <div id="centro">
        <h1><p>Bienvenido a la calculadora Perl</p></h1>
        <form method="POST" >
        	<input type="text" name="valor1" value="0"> 
    		<input type="text" name="valor2" value="0"> 
		        <select name="selector" >
				   <option value="suma">Suma</option>
				   <option value="resta">Resta</option> 
				   <option value="multiplicacion">Multiplicacion</option>
				   <option value="division">Division</option> 
				   <option value="modulo">Modulo</option> 
				</select>
			<input type="submit" name="Enviar">
		</form>
	</div>
    </body>
</html>
